@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  background-color: black;
}
  

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Customize the width of the scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Customize the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: black; /* Light gray background */
}

/* Customize the thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #888; /* Dark gray color */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Customize the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray color on hover */
}
